/* General styles */
body {
}

/* header styles */
#header {
  background-image: url("/ressources/images/Discover.jpg");
  height: 100vh;
}

.header-content {
  font-family: "Merriweather", serif;
  color: #6fe69e;
  font-size: calc(100% + 1vw + 1vh);
  letter-spacing: 1px;
  padding-top: 20rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.author-name {
  position: relative;
  padding-top: 1.5rem;
  right: -25vw;
  width: fit-content;
}

/* Navbar styling */
.navbar {
  background-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  transition: top 0.5s, background-color 1.5s;
  box-sizing: border-box;
  width: 100%;
}
.fa-bars {
  color: #7eca9c;
}
.navbar-toggler {
  margin-left: auto;
  margin-right: 10vw;
}

@media only screen and (max-width: 426px) {
  .navbar-toggler {
    margin-left: auto;
    margin-right: auto;
  }
}
.isVisible {
  background-color: rgba(36, 32, 46, 0.6);
}

.navbar-brand {
  margin-left: 1.4rem;
  font-family: "Train One", cursive;
  color: #7eca9c !important;
  font-size: 2.7rem;
  padding: 1.8rem 1rem;
  line-height: 1.5;
  font-weight: 2.5;
}
.interogation-mark {
  display: inline-block;
}

.navbar-expand-lg .navbar-nav .nav-item,
.navbar-expand-lg .navbar-nav .nav-link {
  color: #ccffbd !important;
  margin-left: 1.3rem;
  font-size: 1.3rem;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  border-top: 4px solid #6fe69e;
  transition: 100ms;
}
.navbar-expand-lg .navbar-nav .nav-link.active {
  border-top: 4px solid #6fe69e;
  transition: 100ms;
}
.navbar-expand-lg .navbar-nav .dropdown {
  margin-right: 5rem;
}
.navbar.animate {
  top: -140px;
}
.navbar.ontop {
  position: static !important;
  top: 0;
}
.navbar.sticky {
  top: 0;
  z-index: 99;
}

/* features section */
.about {
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: #1c1427;
}
.about .contentBx {
  background-color: #1c1427;
  padding: 100px;
  width: 100%;
}
.heading {
  color: #ccffbd;
  font-size: calc(100% + 1vw + 1vh);
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 5vh;
}
.text {
  color: #ccffbd;
  font-size: calc(15% + 1vw + 1vh);
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0;
}
.btn {
  border-color: black;
  background-color: #40394a;
  color: white;
}

#features {
  background-color: #40394a;
  height: 100px;
  position: relative;
}
