/* Navbar styling */
.navbar {
  background-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  transition: top 0.5s, background-color 1.5s;
  box-sizing: border-box;
  width: 100%;
}
.fa-bars {
  color: #7eca9c;
}
.navbar-toggler {
  margin-left: auto;
  margin-right: 10vw;
}

@media only screen and (max-width: 426px) {
  .navbar-toggler {
    margin-left: auto;
    margin-right: auto;
  }
}
.isVisible {
  background-color: rgba(36, 32, 46, 0.6);
}

.navbar-brand {
  margin-left: 1.4rem;
  font-family: "Train One", cursive;
  color: #7eca9c !important;
  font-size: 2.7rem;
  padding: 1.8rem 1rem;
  line-height: 1.5;
  font-weight: 2.5;
}
.interogation-mark {
  display: inline-block;
}

.navbar-expand-lg .navbar-nav .nav-item,
.navbar-expand-lg .navbar-nav .nav-link {
  color: #ccffbd !important;
  margin-left: 1.3rem;
  font-size: 1.3rem;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  border-top: 4px solid #6fe69e;
  transition: 100ms;
}
.navbar-expand-lg .navbar-nav .nav-link.active {
  border-top: 4px solid #6fe69e;
  transition: 100ms;
}
.navbar-expand-lg .navbar-nav .dropdown {
  margin-right: 5rem;
}
.navbar.animate {
  top: -140px;
}
.navbar.ontop {
  position: static !important;
  top: 0;
}
.navbar.sticky {
  top: 0;
  z-index: 99;
}

@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather", serif;
  font-size: 14px;
  color: #999999;
  word-wrap: break-word;
}

p {
  margin: 0 0 10px;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  margin: auto;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding: 0 0 200px;
}

.animate {
  font-size: 50px;
  margin: 100px 0 0;
  border-bottom: 2px solid #ccc;
}

.animate span {
  display: inline-block;
}
.animate span:nth-of-type(2) {
  animation-delay: 0.05s;
}
.animate span:nth-of-type(3) {
  animation-delay: 0.1s;
}
.animate span:nth-of-type(4) {
  animation-delay: 0.15s;
}
.animate span:nth-of-type(5) {
  animation-delay: 0.2s;
}
.animate span:nth-of-type(6) {
  animation-delay: 0.25s;
}
.animate span:nth-of-type(7) {
  animation-delay: 0.3s;
}
.animate span:nth-of-type(8) {
  animation-delay: 0.35s;
}
.animate span:nth-of-type(9) {
  animation-delay: 0.4s;
}
.animate span:nth-of-type(10) {
  animation-delay: 0.45s;
}
.animate span:nth-of-type(11) {
  animation-delay: 0.5s;
}
.animate span:nth-of-type(12) {
  animation-delay: 0.55s;
}
.animate span:nth-of-type(13) {
  animation-delay: 0.6s;
}
.animate span:nth-of-type(14) {
  animation-delay: 0.65s;
}
.animate span:nth-of-type(15) {
  animation-delay: 0.7s;
}
.animate span:nth-of-type(16) {
  animation-delay: 0.75s;
}
.animate span:nth-of-type(17) {
  animation-delay: 0.8s;
}
.animate span:nth-of-type(18) {
  animation-delay: 0.85s;
}
.animate span:nth-of-type(19) {
  animation-delay: 0.9s;
}
.animate span:nth-of-type(20) {
  animation-delay: 0.95s;
}

/* Animation  */
.animate span {
  color: #1a645a;
  opacity: 0;
  transform: translate(-150px, 0) scale(0.3);
  animation: leftRight 0.5s forwards;
}

@keyframes leftRight {
  40% {
    transform: translate(50px, 0) scale(0.7);
    opacity: 1;
    color: #1a645a;
  }

  60% {
    color: #7eca9c;
  }

  80% {
    transform: translate(0) scale(2);
    opacity: 0;
  }

  100% {
    transform: translate(0) scale(1);
    opacity: 1;
  }
}

.firstImage {
  height: 100vh;
  margin: 0px 470px 200px;
  padding: 0 0 200px;
}

#soup-nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 32px;
  z-index: 9002;
  font-size: 64px;
}
.soup-title {
  font-size: 32px;
}
.soup-desc {
  font-size: 16px;
}

.MainText {
  width: 100%;
  height: 100%;
  background-color: #eee;
  color: #111;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
#soup-container {
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 480px;
  position: relative;
}
.letters-wrap {
  position: absolute;
  overflow: hidden;

  display: inline-block;
  &.mutable {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    .letter {
      position: absolute;
      left: 0;
      top: 0;
      transition: left 2s, top 2s, color 2s;
      color: "#AAA";
      &.active {
        color: "#111";
        z-index: 9001;
      }
    }
  }
  &.position-data {
    top: 50%;
    left: 50%;
    opacity: 0.1;
    visibility: hidden;
    transform: translate(-50%, -50%);
  }
}
.segment {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.letter {
  display: inline-block;
}
button {
  z-index: 9001;
  position: relative;
}
