.enneargram{
  margin-top: 10px;
  position:relative;
  left:15px;
  display:flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
}
@media(max-width:1123px){
  .enneargram{

    height: 75vh;

  }
}
@media(max-width:800px){
  .enneargram{

    height: 60vh;

  }
}
@media(max-width:590px){
  .enneargram{

    height: 50vh;

  }
}
@media(max-width:430px){
  .enneargram{

    height: 40vh;

  }
}