body {
  background: radial-gradient(#7eca9c, #99ce89, #b5b0bd);
}
.animated {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 950px;
  height: 400px;
  transform: translate(-50%, -50%);
  font-size: 90px;
  font-weight: bold;
  color: #1c1427;
  white-space: nowrap;
  padding: 0px 50px;
  border-bottom: 10px solid #1c1427;
  box-sizing: border-box;
  animation: animate 5s infinite linear;
  overflow: hidden;
}
@keyframes animate {
  0% {
    width: 0;
    height: 0;
  }
  25% {
    width: 650px;
    height: 0;
  }
  40% {
    width: 650px;
    height: 130px;
  }
  60% {
    width: 650px;
    height: 130px;
  }
  75% {
    width: 650px;
    height: 0;
  }
  100% {
    width: 0;
    height: 0;
  }
}
