body {
  background: #1c1427;
}
#header {
  background-image: url("https://borchanisalma.github.io/WebProject/ressources/images/Helper.jpg");
  background-size: cover;
  height: 47vh;
  background-position: center;
}

.container {
  width: 100%;
  margin: 3% 10% 0;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  padding: 0 0 50px;
}
.animate {
  font-size: 2.5rem;
  border-bottom: 2px solid #ccc;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.animate span {
  display: inline-block;
}
.animate span:nth-of-type(2) {
  animation-delay: 0.05s;
}
.animate span:nth-of-type(3) {
  animation-delay: 0.1s;
}
.animate span:nth-of-type(4) {
  animation-delay: 0.15s;
}
.animate span:nth-of-type(5) {
  animation-delay: 0.2s;
}
.animate span:nth-of-type(6) {
  animation-delay: 0.25s;
}
.animate span:nth-of-type(7) {
  animation-delay: 0.3s;
}
.animate span:nth-of-type(8) {
  animation-delay: 0.35s;
}
.animate span:nth-of-type(9) {
  animation-delay: 0.4s;
}
.animate span:nth-of-type(10) {
  animation-delay: 0.45s;
}
.animate span:nth-of-type(11) {
  animation-delay: 0.5s;
}
.animate span:nth-of-type(12) {
  animation-delay: 0.55s;
}
.animate span:nth-of-type(13) {
  animation-delay: 0.6s;
}
.animate span:nth-of-type(14) {
  animation-delay: 0.65s;
}
.animate span:nth-of-type(15) {
  animation-delay: 0.7s;
}
.animate span:nth-of-type(16) {
  animation-delay: 0.75s;
}
.animate span:nth-of-type(17) {
  animation-delay: 0.8s;
}
.animate span:nth-of-type(18) {
  animation-delay: 0.85s;
}
.animate span:nth-of-type(19) {
  animation-delay: 0.9s;
}
.animate span:nth-of-type(20) {
  animation-delay: 0.95s;
}

/* Animation  */
.animate span {
  color: #1a645a;
  opacity: 0;
  transform: translate(-150px, 0) scale(0.3);
  animation: leftRight 0.5s forwards;
}

@keyframes leftRight {
  40% {
    transform: translate(50px, 0) scale(0.7);
    opacity: 1;
    color: #1a645a;
  }

  60% {
    color: #7eca9c;
  }

  80% {
    transform: translate(0) scale(2);
    opacity: 0;
  }

  100% {
    transform: translate(0) scale(1);
    opacity: 1;
  }
}

#text {
  margin-left: 7%;
  width: 70%;
  height: 100%;
  box-shadow: 1px 1px 1px 1px #a8a3af;
}
.title {
  padding-left: 5%;
  padding-top: 4%;
  font-size: 2rem;
  color: #394a42;
}
.heading {
  font-size: 1.5rem;
  padding-left: 7%;
}
#text {
  background-color: white;
}
.Content1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  width: 100%;
  padding-left: 7%;
  padding-top: 2%;
  padding-bottom: 3%;
  color: #000000;
  text-align: center;
  border-bottom: 1px solid rgb(0, 10, 2);
}
.Content2 {
  font-family: "Oxygen", "sans serif";
  font-size: 1.5rem;
  width: 80%;
  padding-left: 5%;
  padding-top: 5%;
  color: #000000;
  text-align: center;
}
